#!name =  iRingo: 🌤 WeatherKit QX Fix
#!desc = 修复 iOS 26.6 currentAirQuality 请求 /api/v1/airQualityScale/HJ6332012.2414 返回 404 后空气质量数值无法使用的问题。
#!author = NSRingo + local fix
#!homepage = https://github.com/NSRingo/WeatherKit/issues/65
#!icon = https://developer.apple.com/assets/elements/icons/weatherkit/weatherkit-128x128.png
#!category =  iRingo
#!date = 2026-06-03 10:22:00
#!version = 3.1.0-qx-airqualityscale-fix

#[filter_local]
host, weather-analytics-events.apple.com, reject
host-suffix, tthr.apple.com, reject
host, tether.edge.apple, reject

#[rewrite_local]
# 🌤 WeatherKit.api.v2.weather.request
^https?:\/\/weatherkit\.apple\.com\/api\/v2\/weather\/ url script-request-header https://raw.githubusercontent.com/zyxingdev/script/main/WeatherKit/WeatherKit.Country.qx.js
# 🌤 WeatherKit.api.v1.availability.response
^https?:\/\/weatherkit\.apple\.com\/api\/v1\/availability\/ url script-response-body https://raw.githubusercontent.com/zyxingdev/script/main/WeatherKit/response.bundle.js
# 🌤 WeatherKit.api.v1.airQualityScale.response
^https?:\/\/weatherkit\.apple\.com\/api\/v1\/airQualityScale\/ url script-response-header https://raw.githubusercontent.com/zyxingdev/script/main/WeatherKit/WeatherKit.AirQualityScaleHeader.qx.js
^https?:\/\/weatherkit\.apple\.com\/api\/v1\/airQualityScale\/ url script-response-body https://raw.githubusercontent.com/zyxingdev/script/main/WeatherKit/WeatherKit.AirQualityScale.qx.js
# 🌤 WeatherKit.api.v2.weather.response
^https?:\/\/weatherkit\.apple\.com\/api\/v2\/weather\/ url script-response-body https://raw.githubusercontent.com/zyxingdev/script/main/WeatherKit/response.bundle.js

#[mitm]
hostname = weatherkit.apple.com
