#!name = 京东 V15.9.30 开屏去广告
#!desc = 仅用于 Quantumult X，屏蔽 iOS 京东 V15.9.30 的开屏广告配置与素材。
#!author = zyxingdev
#!homepage = https://github.com/zyxingdev/script
#!date = 2026-07-23 00:00:00
#!version = 3.0.0

#[rewrite_local]
# 京东启动广告配置；functionId 可位于查询参数的任意位置
^https?:\/\/api\.m\.jd\.com\/client\.action\?(?:[^&#]+&)*functionId=(?:start|getSplash|home_launchConfig|queryMaterialAdverts)(?:&|$) url script-response-body https://raw.githubusercontent.com/zyxingdev/script/main/JD/JD_remove_ads.qx.js

# 京东开屏广告素材兜底
^https?:\/\/img\d+\.360buyimg\.com\/jddjadvertise\/ url reject

#[mitm]
hostname = %APPEND% api.m.jd.com, img*.360buyimg.com
