#!name = 京东去开屏广告
#!desc = 移除京东启动时的开屏广告及部分横幅广告。
#!author = Luoxixi
#!homepage = https://gist.github.com/luoxixi279-dotcom/50a997bf6524df7c8499b84fd519e6d4
#!icon = https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/Color/JD.png
#!date = 2026-02-12

# 针对开屏广告接口的重写
^https?:\/\/api\.m\.jd\.com\/client\.action\?(?:[^&]+&)*functionId=(start|getSplash|home_launchConfig)(?:&|$) url reject-dict

hostname = api.m.jd.com
